@if (selectedChartFiles || createNewFiles) {
<div class="dashboard-header">
  <div class="left-controls">
    @if(!isViewCharts) {
    <button mat-mini-fab (click)="addItem()" class="add-button">
      <mat-icon>add</mat-icon>
    </button>
    <button class="save-btn" (click)="saveData()">Save</button>
    }
  </div>
  <span class="file-name">
    {{selectedChartFiles?.displayName ? selectedChartFiles?.displayName : createNewFiles}}
  </span>

  <div class="file-info">
    @if(!isViewCharts) {
    <button mat-mini-fab class="add-button"
      (click)="editNameOfReportFiles(selectedChartFiles?.displayName ? selectedChartFiles?.displayName : createNewFiles)">
      <mat-icon>edit</mat-icon>
    </button>
    @if (selectedChartFiles) {
    <button mat-mini-fab class="add-button" (click)="deleteChartReport()">
      <mat-icon>delete</mat-icon>
    </button>
    }
    }
  </div>
</div>
}
<!-- <div style="height: 90%;"> -->
@if (!remove) {
<gridster [options]="options" (resize)="onResize()">
  @for (item of dashboard; track item; let i = $index) {
  <gridster-item [item]="item?.['wigetSize']">
    <div class="chart-card">
      @if(!isViewCharts) {
      <div class="chart-actions">
        <button mat-mini-fab (click)="openModal(item?.['chartConfig'], i)" class="add-button">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab (click)="removeItem($event, item)" class="add-button">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      }
      <div [id]="'chart-container' + i" class="chart-box"></div>
    </div>
  </gridster-item>
  }
</gridster>
}
<!-- </div> -->
