<!-- <div class="toolbar">
    <button (click)="addWidget()">➕ Add Widget</button>
</div>

<gridster [options]="options">
    <gridster-item *ngFor="let item of dashboard;let index=index" [item]="item">
        <div class="widget-card">
            <div class="widget-header">
                <span>{{ item.label }}</span>
                <button class="remove-btn" (click)="removeWidget(item)">✖</button>
            </div>
            <div class="widget-body">
                <p>Content for {{ item.label }}</p>
            </div>
            <div [id]="'chart-container' + index" style="width: 100%; height: 600px;"></div>
        </div>
    </gridster-item>
</gridster> -->


 <!-- <div class="toolbar">
      <button (click)="addWidget()">➕ Add Widget</button>
      <button (click)="toggleDirection()">🔄 Toggle Direction ({{direction}})</button>
    </div>

    <as-split [direction]="direction" [gutterSize]="8" class="split-container">
      <as-split-area *ngFor="let widget of widgets" [size]="100/widgets.length">
        <div class="widget">
          <div class="widget-header">
            <span>{{ widget.content }}</span>
            <button (click)="removeWidget(widget)">✖</button>
          </div>
          <div class="widget-body">
            Content of {{widget.content}}
          </div>
        </div>
      </as-split-area>
    </as-split> -->

    