<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidebar-header">
      <img [src]="projectData?.projectLogo" alt="Logo" class="sidebar-logo" />
      <span class="project-name">{{ projectData?.projectName }}</span>
    </div>

    <mat-nav-list>
      <a [ngClass]="{'active-link': selectedTab === file.id}"
         mat-list-item
         *ngFor="let file of files"
         (click)="viewChart(file)">
        <span class="file-name">{{ file?.displayName }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
