<mat-dialog-content [formGroup]="reportForm" class="report-dialog-content">
  <p>Enter Report Name</p>
  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Report Name</mat-label>
    <input matInput formControlName="fileName" />
    <mat-error *ngIf="reportForm.get('fileName')?.hasError('required')">
      Report name is required
    </mat-error>
    <mat-error *ngIf="reportForm.get('fileName')?.hasError('whitespace')">
      Report name cannot be blank spaces
    </mat-error>
    <mat-error *ngIf="reportForm.get('fileName')?.hasError('maxlength')">
      Maximum 30 characters allowed
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end" class="report-dialog-actions">
  <button mat-button class="cancel-btn" (click)="cancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    class="ok-btn"
    (click)="selectName()"
    [disabled]="reportForm.invalid"
    cdkFocusInitial
  >
    Save
  </button>
</mat-dialog-actions>
