  @if (config) {
    <as-split direction="horizontal" [disabled]="config.disabled" (dragEnd)="onDragEnd(-1, $event)">
      @for (column of config.columns; track column; let icol = $index) {
        @if (column.visible) {
          <as-split-area [size]="column.size">
            <as-split direction="vertical" [disabled]="config.disabled" (dragEnd)="onDragEnd(icol, $event)">
              @for (row of column.rows; track row; let irow = $index) {
                @if (row.visible) {
                  <as-split-area [size]="row.size">
                    <div class="bloc">
                      @switch (row.type) {
                        @case ('doc') {
                          <div class="explanations">
                            <h3>Angular Split - Workspace Example</h3>
                            <p>
                              All areas' size and visibility are saved to local storage.<br />
                              Toggle areas' visibility using the following buttons:
                            </p>
                            @for (c of config.columns; track c) {
                              @for (r of c.rows; track r) {
                                @if (r.type !== 'doc') {
                                  <button
                                    (click)="r.visible = !r.visible; refreshColumnVisibility(c)"
                                    [class.active]="!r.visible"
                                    class="btn btn-warning"
                                  >
                                    {{ r.type }}
                                  </button>
                                }
                              }
                            }
                            <br />
                            <button
                              class="btn btn-warning"
                              [class.active]="!config.disabled"
                              (click)="toggleDisabled()"
                            >
                              {{ 'isDisabled: ' + config.disabled }}
                            </button>
                            <br />
                            <button (click)="resetConfig()" class="btn btn-warning">Reset local storage</button>
                          </div>
                        }
                        @default {
                          <div class="panel">
                            <p>{{ row.type }}</p>
                          </div>
                        }
                      }
                    </div>
                  </as-split-area>
                }
              }
            </as-split>
          </as-split-area>
        }
      }
    </as-split>
  }